@font-face {
	font-family: 'toutiao'; /* Project id 4084558 */
	src: url('//at.alicdn.com/t/c/font_4084558_2q7glynlk7.woff2?t=1684913197458')
			format('woff2'),
		url('//at.alicdn.com/t/c/font_4084558_2q7glynlk7.woff?t=1684913197458')
			format('woff'),
		url('//at.alicdn.com/t/c/font_4084558_2q7glynlk7.ttf?t=1684913197458')
			format('truetype');
}

.toutiao {
	font-family: 'toutiao' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.toutiao-wenda:before {
	content: '\e601';
}

.toutiao-youjiantou:before {
	content: '\e602';
}

.toutiao-zuojiantou:before {
	content: '\e603';
}

.toutiao-shouye:before {
	content: '\e604';
}

.toutiao-dianzan:before {
	content: '\e605';
}

.toutiao-fenxiang:before {
	content: '\e606';
}

.toutiao-guanbi:before {
	content: '\e607';
}

.toutiao-yanzhengma:before {
	content: '\e608';
}

.toutiao-shoucang:before {
	content: '\e609';
}

.toutiao-pinglun:before {
	content: '\e60a';
}

.toutiao-shanchu:before {
	content: '\e60b';
}

.toutiao-lishi:before {
	content: '\e60c';
}

.toutiao-gengduo:before {
	content: '\e60d';
}

.toutiao-dianzan2:before {
	content: '\e60e';
}

.toutiao-yuedu:before {
	content: '\e60f';
}

.toutiao-shipin:before {
	content: '\e610';
}

.toutiao-zuopin:before {
	content: '\e611';
}

.toutiao-shouji:before {
	content: '\e612';
}
